Header set Access-Control-Allow-Origin "*"

# App Enviroment Variables
<IfModule mod_env.c>
    #The domain/IP of the database
    SetEnv DB_DOMAIN 'localhost'

    #The name of the Database that we will use
    SetEnv DB_NAME 'void_eye_games'

    #The user of the database
    SetEnv DB_USER 'void_eye_games'

    #The password of the database
    SetEnv DB_PASSWORD 'void_eye_games'
</IfModule>

RedirectMatch "^/VoidEyeGames/void-eye-games-api/(?!recovery|health|assets|index\.php|signIn|logIn|games?|category|categories|plataforms?|comment|report).*" /VoidEyeGames/void-eye-games-api/index.php

# Rute rule rewrite
<IfModule mod_rewrite.c>
    # Activar mod_rewrite  
    RewriteEngine on

    # Images and assets requests
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !^.*\.(jpg|png|jpeg|css|js)$
    RewriteRule ^(.*)\.(jpg|png|jpeg|css|js)$ ./$1.$2 [L]

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.php [QSA,L]
</IfModule>

# On File not found
<FilesMatch ".*\.(jpg|png|jpeg)$">
    ErrorDocument 404 "./assets/images/not-found.png"
</FilesMatch>