/*
 * File: __filter.scss
 * Purpose: scss filters.
 * DB Access: No
 * Used from:
 *  - App.scss
 * Uses files:
 *  - None
 */

// Checkbox filters
.filter-checkbox:hover { background-color: $form; }

// Aside filters section in games page
aside {
    width: 100% !important;

    &.filter-aside {
        max-height: 3.75rem;
        overflow: hidden;

        transition: max-height .7s linear;

        &.filter-active { max-height: 200rem; }
    }

    @include media-breakpoint-up(lg) {
        min-width: 15vw !important;
        max-width: 20vw !important;

        &.filter-aside {
            max-height: unset;
            overflow: unset;
        }
    }
}