/*
 * File: __slider.scss
 * Purpose: scss slider.
 * DB Access: No
 * Used from:
 *  - App.scss
 * Uses files:
 *  - None
 */

/** Define static tab slider images and videos media sizes **/
.tab-content {
    &--images,
    &--videos {
        & .slide.slide-visible {
            display: block !important;

            .video {
                $videoMaxHeight: 26.75rem;
                max-height: $videoMaxHeight;
                & * {max-height: $videoMaxHeight;}
            }
        }
    }
}

/** Sliders **/
.slider {
    // The control component (buttons as example)
    &--control {
        width: 3.125rem;
        font-size: 2rem;
        color: $text-primary !important;
        background-color: $secondary !important;

        @include btn-transition;

        &:focus,
        &:hover {
            color: $text-secondary !important;
            background-color: $primary !important;   
        }
    }

    // The list of items in the slider
    &-list {
        display: flex;
        align-items: center;
    }

    // Used to support differents types of medias
    &--dynamic {
        min-height: calc(12.5rem + 25vw);
        
        & .slider {
            &-container {
                height: 100%;
                position: relative;
            }

            &-list .slide { width: 100% !important; }

            &-frame {
                display: flex;
                align-items: center;
            }
        }

        & .nav-tabs {
            height: 3.125rem !important;

            & .nav-item {

                & > * {
                    height: 100%;
                    @include media-breakpoint-up(lg) { 
                        font-size: calc(1vw + 1vh) !important;
                    }
                }
            }
        }

        & .tab-content {
            display: flex;
            align-items: center;
            flex-grow: 1;

            $height: calc(100% - 3.125rem);
            height: $height;
            min-height: $height;
            max-height: $height;
            background-color: black;

            & > * {
                width: 100%;
                height: 100%;
            }
        }

        /** Responsive side **/
        @include media-breakpoint-up(xm) { 
            min-height: calc(12.5rem + 30vw + 5vh);
        }

        @include media-breakpoint-up(sm) { 
            min-height: calc(12.5rem + 35vw + 5vh);
        }

        @include media-breakpoint-up(md) { 
            & .slider-list { height: 100%; }
            & .tab-content {
                height: 31.25rem;
                overflow-y: hidden;

                & > * {
                    max-height: 100%;
                    height: 100%;
                }
            }
        }

        @include media-breakpoint-up(lg) { 
            min-height: 100%;

            .tab-content {
                min-height: 25rem;
                max-height: 25rem;
            }
        }

        @include media-breakpoint-up(xl) { 
            .nav-tabs { height: auto !important; }

            .tab-content {
                $height: calc(100% - 3.125rem);
                height: $height;
                min-height: $height;
                max-height: $height;
            }
        }
    }

    @include media-breakpoint-up(xm) { 
        // One container is equals a item container
        &-container { max-height: 100% !important; }
        // The frame is the main slider container
        &-frame { max-height: 100% !important; }
    }
}