//------------------------------------------------------------------
// VARIABLES
//------------------------------------------------------------------

/** COLORS **/
$primary:#FFFFFF;
$secondary:#6E6CBC;
$tertiary: #FAF8FF;
$quaternary: #00C896;
$quinary: #C38C00;
$form: #e2e2e2;
$gray: #cccccc;
$links: #0D6EFD;
$error: #c70f0f;

$text-primary: $primary;
$text-secondary: #000000;

/** THEME **/
$theme-colors: (
    "primary": $primary,
    "secondary": $secondary,
    "tertiary": $tertiary,
    "quaternary": $quaternary,
    "quinary": $quinary,
    "form": $form,
    "gray": $gray,
    "links": $links,
    "error": $error
);

$headerHeight: calc(50px + 1vh);