//------------------------------------------------------------------
// HEADER
//------------------------------------------------------------------

// home header
.home--header {
    & .slider {
        &-frame,
        &-container {
            width: 100% !important;
            height: 100% !important;
        }

        &-list {
            height: 100% !important;
        }
    }
}

// Navigations stylesheet
@import './__nav.scss';

// Dropdowns stylesheet
@import './__dropdown.scss';