.nav {
    flex-wrap: nowrap;
    height: $headerHeight;

    &-link {
        color: $text-primary !important;
        font-size: calc(1rem + .5vw);
        font-family: 'Arial';

        height: 100%;

        display: flex;
        align-items: center;

        -webkit-touch-callout: none;
          -webkit-user-select: none; 
           -khtml-user-select: none; 
             -moz-user-select: none; 
              -ms-user-select: none; 
                  user-select: none;

        &.active,
        &:focus,
        &:hover {
            background-color: $primary !important;
            color: $text-secondary !important;
            border-color: #343a40 !important;
        }

        @include btn-transition;
    }

    &-icon svg {
        font-size: calc(2rem + .5vw) !important;
    }

    @include media-breakpoint-up(lg) {
        &-link {
            font-size: calc(0.5vw + 0.2vh + 1rem) !important;
        }

        &-icon svg {
            font-size: calc(2rem + .5vw) !important;
        }
    }
}

@include media-breakpoint-up(lg) {
    header > .nav {
        height: $headerHeight !important;
    }
}