.home--header {
    & .slider {
        &-frame,
        &-container {
            width: 100% !important;
            height: 100% !important;
        }

        &-list {
            height: 100% !important;
        }
    }
}

.nav {
    
    &-link {
        color: $text-primary !important;
        font-size: 1.4rem;
        font-family: 'Arial';

        &.active,
        &:focus,
        &:hover {
            background-color: $primary !important;
            color: $text-secondary !important;
            border-color: #343a40 !important;
        }
    }

}

.dropdown {
    &-menu{
        top: -2px !important;
        border: none !important;
        border-radius: 0 !important;
        background-color: $secondary !important;
    }

    &-item {
        color: $primary !important;
        font-size: 1.2rem !important;
        font-family: 'Arial' !important;

        &.active,
        &:focus,
        &:hover {
            background-color: $primary !important;
            color: $text-secondary !important;
        }
    }
}