
$primary:#FFFFFF;
$secondary:#6E6CBC;
$tertiary: #FAF8FF;
$quaternary: #00C896;
$quinary: #C38C00;
$links: #0D6EFD;
$error: #c70f0f;

$text-primary: $primary;
$text-secondary: #000000;

$theme-colors: (
    "primary": $primary,
    "secondary": $secondary,
    "tertiary": $tertiary,
    "quaternary": $quaternary,
    "quinary": $quinary,
    "links": $links,
    "error": $error
);

@import "../../node_modules/bootstrap/scss/bootstrap.scss";

#root {
    overflow: hidden;
}

.noselect {
    -webkit-touch-callout: none;
      -webkit-user-select: none; 
       -khtml-user-select: none; 
         -moz-user-select: none; 
          -ms-user-select: none; 
              user-select: none; 
}

.nav-link {
    color: $text-primary !important;
    font-size: 1.4rem;
    font-family: 'Arial';

    &.active,
    &:focus,
    &:hover {
        background-color: $primary !important;
        color: $text-secondary !important;
    }
}

#search:hover {
    cursor: pointer;
    background: linear-gradient(rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05));
}

.dropdown {
    &-menu{
        top: -2px !important;
        border: none;
        border-radius: 0;
        background-color: $secondary;
    }

    &-item {
        color: $primary;
        font-size: 1.2rem;
        font-family: 'Arial';

        &.active,
        &:focus,
        &:hover {
            background-color: $primary !important;
            color: $text-secondary !important;
        }
    }
}

.game-item {
    position: relative;

    &:hover::before,
    &:focus::before {
        cursor: pointer;
        content: "Detalles";
        z-index: 3;
        position: absolute;
        width: 100%;
        height: 100%;
        
        display: flex;
        align-items: center;
        justify-content: center;

        text-shadow: 0px 0px 10px black;

        font-size: 2rem;
        color: $text-primary;
        background-color: rgba($color: $text-secondary, $alpha: 0.3);
    }
}