
$primary:#FFFFFF;
$secondary:#6E6CBC;
$tertiary: #FAF8FF;
$quaternary: #00C896;
$quinary: #C38C00;
$links: #0D6EFD;
$error: #c70f0f;

$text-primary: $primary;
$text-secondary: #000000;

$theme-colors: (
    "primary": $primary,
    "secondary": $secondary,
    "tertiary": $tertiary,
    "quaternary": $quaternary,
    "quinary": $quinary,
    "links": $links,
    "error": $error
);

@import "../../node_modules/bootstrap/scss/bootstrap.scss";

#root {
    overflow: hidden;
}

.p {
    &-right-top-0,
    &-left-top-0,
    &-top-0 {top: 0;}
    
    &-right-bottom-0,
    &-left-bottom-0,
    &-bottom-0 {bottom: 0;}

    &-left-bottom-0,
    &-left-top-0,
    &-left-0 {left: 0;}
    
    &-right-bottom-0,
    &-right-top-0,
    &-right-0 {right: 0;}
}

.no {
    &-resize {resize: none;}
    &-select {
        -webkit-touch-callout: none;
          -webkit-user-select: none; 
           -khtml-user-select: none; 
             -moz-user-select: none; 
              -ms-user-select: none; 
                  user-select: none; 
    }
}

.noselect {
    -webkit-touch-callout: none;
      -webkit-user-select: none; 
       -khtml-user-select: none; 
         -moz-user-select: none; 
          -ms-user-select: none; 
              user-select: none; 
}

.skeleton {
    &-image {
        max-width: 100%;
        max-height: 100%;
        min-height: 12.5rem;
        width: 100%;
        height: 100%;
        
        & * {
            width: 100%;
            height: 100%;
            min-height: 12.5rem;
        }
    }
}

.tab-content {
    &--images,
    &--videos {
        & .slide.slide-visible {
            display: block !important;

            .video {
                max-height: 26.75rem;
                & * {max-height: 26.75rem;}
            }
        }
    }
}

.nav-link {
    color: $text-primary !important;
    font-size: 1.4rem;
    font-family: 'Arial';

    &.active,
    &:focus,
    &:hover {
        background-color: $primary !important;
        color: $text-secondary !important;
        border-color: #343a40 !important;
    }
}

#search:hover {
    cursor: pointer;
    background: linear-gradient(rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05));
}

.dropdown {
    &-menu{
        top: -2px !important;
        border: none;
        border-radius: 0;
        background-color: $secondary;
    }

    &-item {
        color: $primary;
        font-size: 1.2rem;
        font-family: 'Arial';

        &.active,
        &:focus,
        &:hover {
            background-color: $primary !important;
            color: $text-secondary !important;
        }
    }
}

.game-item {
    position: relative;

    &:hover::before,
    &:focus::before {
        cursor: pointer;
        content: "Detalles";
        z-index: 3;
        position: absolute;
        width: 100%;
        height: 100%;
        
        display: flex;
        align-items: center;
        justify-content: center;

        text-shadow: 0px 0px 10px black;

        font-size: 2rem;
        color: $text-primary;
        background-color: rgba($color: $text-secondary, $alpha: 0.3);
    }
}