# place this .htaccess in the root of the server to *redirect the requests* 
# from https://x.x.x.x/ to https://x.x.x.x/VoidEyeGames/ and then they don't
# have access to the folders in **https://x.x.x.x/**.
Header set Access-Control-Allow-Origin "*"
RedirectMatch "^/(?!VoidEyeGames)/?(.*)" /VoidEyeGames/$1
