//------------------------------------------------------------------
// FORMS
//------------------------------------------------------------------

label {
    &.type-file {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow-x: hidden;
        max-width: 100%;
    }
}

.capitalize {
    text-transform: capitalize;
}

input{
    border-width: calc(0.063rem + .01vw);

    &[type=file] {display: none;}
    &[type=checkbox],
    &[type=radio] {text-transform: capitalize;}

    &#search:hover {
        cursor: pointer;
        background: linear-gradient(rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05));
    }

    &.form-control:focus {
        border-color: $secondary !important;
    }
}

textarea {
    border-width: calc(0.063rem + .01vw);

    &.form-control:focus {
        border-color: $secondary !important;
    }
}

.dropzone {
    width: 100%;
    height: 100%;
    border: 0.25rem dashed $secondary;
    background: #ffffff9c;

    &.active {
        background: #e4e4e49c;
    }
}

.check-form {
    display: block;
    position: relative;
    padding-left: 2.188rem;
    margin-bottom: 0.75rem;
    cursor: pointer;
    font-size: 1.375rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }
  
    .radiobtn,
    .checkmark {
        position: absolute;
        top: 0.313rem;
        left: 0;
        height: 1.563rem;
        width: 1.563rem;
        background-color: #eee;
    }

    .radiobtn {
        border-radius: 50%;
    }
  
    &:hover input ~ .radiobtn,
    &:hover input ~ .checkmark {
        background-color: #ccc;
    }
  
    input:checked ~ .radiobtn,
    input:checked ~ .checkmark {
        background-color: #2196F3;
    }
    
    &:after {
        content: "";
        position: absolute;
        display: none;
    }
  
    & input:checked ~ .radiobtn:after,
    & input:checked ~ .checkmark:after {
        display: block;
        content: " ";
    }

    & .checkmark:after {
        left: 0.563rem;
        top: 0.313rem;
        width: 0.625rem;
        height: 0.938rem;
        border: solid white;
        border-width: 0 0.313rem 0.313rem 0;
        -webkit-transform: rotate(45deg) translate(.5rem, -0.2rem);
        -ms-transform: rotate(45deg) translate(.5rem, -0.2rem);
        transform: rotate(45deg) translate(.5rem, -0.2rem);
    }

    & .radiobtn:after {
        top: 0.563rem;
        left: 0.563rem;
        width: 0.5rem;
        height: 0.5rem;
        border-radius: 50%;
        background: white;
        -webkit-transform: translate(100%, 100%);
        -ms-transform: translate(100%, 100%);
        transform: translate(100%, 100%);
    }
}

.required:before {
    content: "*";
    color: $error;
    position: absolute;
    transform: translateY(-0.25rem);
}