/*
 * File: __skeleton.scss
 * Purpose: scss skeleton.
 * DB Access: No
 * Used from:
 *  - App.scss
 * Uses files:
 *  - None
 */

.skeleton {
    $minSize: 12.5rem;
    $maxSize: 100%;
    $size: 100%;

    &-image {
        max-width: $maxSize;
        max-height: $maxSize;
        min-height: $minSize;
        width: $size;
        height: $size;
        
        & * {
            width: $size;
            height: $size;
            min-height: $minSize;
        }
    }
}