//------------------------------------------------------------------
// BASIC
//------------------------------------------------------------------
html { overflow-y: scroll; }

body {
    & * {
        margin: 0;
        padding: 0;
    }

    @include media-breakpoint-up(lg) {
        $normalFont: calc(0.1vw + 0.5vh + 1rem);
        font-size: $normalFont !important;

        .to-top-btn, input,
        textarea, svg, .btn {
            font-size: $normalFont !important;
        }

        * h1, * .h1 {
            font-size: calc(1vw + 1vh + 1rem) !important;
        }
        * h2, * .h2 {
            font-size: calc(1.4vw + 1vh) !important;
        }
        * h3, * .h3 {
            font-size: calc(1.5vw + 1vh) !important;
        }
        * h4, * .h4 {
            font-size: calc(1.2vw + 1.2vh) !important;
        }
        * h5, * .h5 {
            font-size: calc(1vw + 1vh) !important;
        }
        * h6, * .h6 {
            font-size: calc(1vw + 1.2vh) !important;
        }
    }

    hr {
        border-color: gray;
        border-width: calc(1px + .01vw);
    }

    overflow-x: hidden;

    $sizePosition: 0, 1;
    $verticalPositions: none, top, bottom;
    $horizontalPositions: right, left;
    @each $sizePos in $sizePosition {
        @each $horizontalPos in $horizontalPositions {
            @include fix-position($sizePos, $horizontalPos);
        }

        @each $verticalPos in $verticalPositions {
            @include fix-position($sizePos, $verticalPos);
        }

        @each $horizontalPos in $horizontalPositions {
            @each $verticalPos in $verticalPositions {
                @each $sizePos in $sizePosition {
                    @include fix-position($sizePos, $horizontalPos, $verticalPos);
                }
            }
        }
    }

    & .no {
        &-resize {resize: none;}
        &-select {
            -webkit-touch-callout: none;
              -webkit-user-select: none; 
               -khtml-user-select: none; 
                 -moz-user-select: none; 
                  -ms-user-select: none; 
                      user-select: none; 
        }
    }

    & .tab-content {
        &--images,
        &--videos {
            & .slide.slide-visible {
                display: block !important;
    
                .video {
                    max-height: 26.75rem;
                    & * {max-height: 26.75rem;}
                }
            }
        }
    }

    
    & .list {
        &--item {
            @include btn-transition;
        }
    }

    & .details--header {
        display: flex;
        justify-content: center;

        max-width: 960px;
        @include media-breakpoint-up(lg) { 
            max-width: 80vw;
        }

        height: unset;

        &__img {
            background-color: black;
            img {
                height: 80vw;
            }
        }

        &__info {
            overflow-y: visible;
        }

        @include media-breakpoint-up(xm) { 
            height: auto;
        }

        @include media-breakpoint-up(sm) { 
            height: 25%;

            &__info {
                max-height: 200px;
                height: 200px;
            }

            &__img {
                height: inherit;
                img {
                    height: 100%;
                }
            }
        }

        @include media-breakpoint-up(md) { 
            height: 40%;

            &__info {
                overflow-y: hidden;
            }

            &__img {
                img {
                    height: 100%;
                }
            }
        }

        @include media-breakpoint-up(lg) {
            height: auto;
            &__info {
                height: auto;
                min-height: 100%;
                max-height: 100%;
                overflow-y: visible;
                padding-left: 2% !important;
            }

            &__img {
                max-width: 100%;
                height: 50%;

                img {
                    max-width: 100%;
                }
            }
        }

        @include media-breakpoint-up(xl) { 
            height: auto;

            &__info {
                height: auto;
                min-height: 100%;
                max-height: 100%;
                overflow-y: visible;
                padding-left: 2% !important;
            }

            &__img {
                max-width: 100%;
                height: 50%;

                img {
                    max-width: 100%;
                }
            }
        }
    }

    & .slider {
        &-container {
            @include media-breakpoint-up(xm) { 
                max-height: 100% !important;
            }
        }

        &-frame {
            @include media-breakpoint-up(xm) {
                max-height: 100% !important;
            }
        }

        &--dynamic {
            display: flex;
            flex-direction: column;

            & .slider {
                &-container {
                    height: 100%;
                    position: relative;
                }

                &-list {
                    & .slide {
                        width: 100% !important;
                    }
                }
            }

            & .nav-tabs {
                height: 50px !important;

                & .nav-item {

                    & > * {
                        height: 100%;
                        @include media-breakpoint-up(lg) { 
                            font-size: calc(1vw + 1vh) !important;
                        }
                    }
                }
            }

            & .tab-content {
                display: flex;
                align-items: center;
                flex-grow: 1;

                background-color: black;

                & > * {
                    width: 100%;
                }
            }

            @include media-breakpoint-up(sm) { 
                height: 50vh;
            }

            @include media-breakpoint-up(md) { 
                height: calc(100% - 200px);

                & .tab-content {
                    height: calc(100% - 250px);
                    overflow-y: hidden;

                    & > * {
                        max-height: 100%;
                        height: 100%;
                    }
                }
            }

            @include media-breakpoint-up(lg) { 
                height: 100%;

                .tab-content {
                    
                    min-height: 400px;
                    max-height: 400px;
                }
            }

            @include media-breakpoint-up(xl) { 
                .nav-tabs {
                    height: auto !important;
                }
    
                .tab-content {
                    height: calc(100% - 300px);
                    min-height: 600px;
                    max-height: 600px;
                }
            }
        }
    }

    .plataform{
        
        &-link {
            font-size: calc(0.2vw + 0.2vh + .55rem) !important;
            
            &:hover {
                background-color: $form;

                .plataform-price {
                    background-color: #976c00 !important;
                }
            }

            .discount {
                font-size: calc(0.2vw + 0.3vh + .45rem);
            }
        }

        &-price {
            display: flex;
            flex-direction: column;
        }

        @include media-breakpoint-up(lg) {
            max-height: 60%;
            
        }

        @include media-breakpoint-up(xl) {
            flex-grow: 1 !important;
            
            &-link {
                font-size: calc(0.5vw + 0.4vh + .45rem) !important;
                height: 7vh;
                max-height: 25%;

                .discount {
                    font-size: calc(0.5vw + 0.4vh + .25rem);
                }
            }
        
            &-image {
                width: unset !important;
                height: 90% !important;
            }
        }
    }

    .app-content {
        margin-top: $headerHeight;
    }

    .filter-checkbox {
        &:hover {
            background-color: $form;
        }
    }

    aside {
        width: 100% !important;
        @include media-breakpoint-up(lg) { 
            min-width: 15vw !important;
            max-width: 20vw !important;
        }
    }
}