/*
 * File: __basic.scss
 * Purpose: scss basics.
 * DB Access: No
 * Used from:
 *  - App.scss
 * Uses files:
 *  - None
 */

html { overflow-y: scroll; }

body {
    overflow-x: hidden;
    
    & * {
        margin: 0;
        padding: 0;
    }

    hr {
        border-color: gray;
        border-width: calc(0.063rem + .01vw);
    }

    .app-content {  margin-top: $headerHeight; }
}