//------------------------------------------------------------------
// BASIC
//------------------------------------------------------------------
html { overflow-y: scroll; }

body {
    overflow-x: hidden;
    
    & * {
        margin: 0;
        padding: 0;
    }

    hr {
        border-color: gray;
        border-width: calc(1px + .01vw);
    }

    .app-content {
        margin-top: $headerHeight;
    }
}