.home--header {
    & .slider {
        &-frame,
        &-container {
            width: 100% !important;
            height: 100% !important;
        }

        &-list {
            height: 100% !important;
        }
    }
}

@import './header/__nav.scss';
@import './header/__dropdown.scss';